* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
}

.qr-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* Semi-transparent white */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Added transition */
}

#qr-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Added transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-3px) scale(1.05);
    /* Added scale effect */
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
}

.qr-container:hover {
    transform: translateY(-3px) scale(1.01);
    /* Added scale effect */
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15);
}

#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#qrcode svg {
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#qrcode svg:hover {
    transform: translateY(-3px) rotateX(10deg) rotateY(10deg) scale(1.05);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15);
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    background-color: transparent;
    transition: transform 0.3s, box-shadow 0.3s;
    /* Transition effect for smooth shadow and movement */
}

footer:hover {
    transform: translateY(-3px);
    /* Move footer up slightly */
    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.5), /* Red shadow */
    -3px -3px 10px rgba(0, 255, 0, 0.5), /* Green shadow */
    3px -3px 10px rgba(0, 0, 255, 0.5), /* Blue shadow */
    -3px 3px 10px rgba(255, 255, 0, 0.5);
    /* Yellow shadow for added effect */
}

#qrcode svg:hover {
    transform: translateY(-3px) rotateX(10deg) rotateY(10deg) scale(1.05);
    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.5), /* Red shadow */
    -3px -3px 10px rgba(0, 255, 0, 0.5), /* Green shadow */
    3px -3px 10px rgba(0, 0, 255, 0.5), /* Blue shadow */
    -3px 3px 10px rgba(255, 255, 0, 0.5);
    /* Yellow shadow for added effect */
}

.qr-container:hover {
    transform: translateY(-3px) scale(1.01);
    box-shadow: 3px 3px 10px rgba(255, 0, 0, 0.5), /* Red shadow */
    -3px -3px 10px rgba(0, 255, 0, 0.5), /* Green shadow */
    3px -3px 10px rgba(0, 0, 255, 0.5), /* Blue shadow */
    -3px 3px 10px rgba(255, 255, 0, 0.5);
    /* Yellow shadow for added effect */
}